a{
    background-color:#AA5656;
    color: #e2ca8b;
    text-decoration: none;
    padding: 10px;
    font-size: 30px;
}
p{
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
header{
    background-color: #698269;
    text-align: center;
    font-size: large;
    font-style: italic;
    font-weight: bold;
}
body{
    background-color:beige ;
}
h2{
    text-align: center;
    font-size: 36px;
    font-style: italic;
    font-weight: bold;
    color: #262f26;

}
.liste{
    font-size: large;
    font-style: italic;
    font-weight: bold;
    
}
li:hover{background-color: #AA5656;}
nav{
    text-align: center;
    margin: 50px;
    margin-left: 50px;
}


li  {
    display: block;
    padding: 14px 16px;
    background-color: #ccc;
    text-decoration: none;
    color: #a02525;
}
